body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    margin: 0;
    padding: 0;
    
}


/* why image is taking up left and right but not top and bottom?*/
div {
    background-image: url('assets/images/swirl_pattern/swirl_pattern.png');
   
  }
.nav {
    float: right
}

.home{
    margin: 10px;
    text-align: right;
}

.contact{
    margin: 10px;
    text-align: right;
}

.portfolio{
    margin: 10px;
    text-align: right;
}




h1 {

    color: #78f115;
    margin: auto;
    padding: 30px;
    font-size: 28px;

}

h2 {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
  }

.left-align {
    margin-left: 320px;
}


header {
    background-color: white;
    width: 100%
}

.header {
    width: 200px;
    text-align: center;
    background-color: rgb(231, 58, 52)

}



h2 {
    font-size: 24px
}



.h1 {
    background-color: #016d13;
    border: 15px solid rgb(109, 221, 230);
    width: 100%;


}

.container {
    width: 960px;
    margin: 0 auto;
    height: 960px;
}


#bio-image {
    margin-right: 20px;
    width: 200px;
    background-image: url('images/fat-cat.jpg');
    background-size: 100%;
    float: left;
}


.main-bio {
    width: 65%;
    float: left;
    background-color: orangered;
    margin-left: 50px;
    margin-top: 30px;
    height: 500px;
    padding-left: 20px;
    margin:  30px 160px 0px 160px;
    
}

#contact-info {

    width: 100%;
    float: left;
}

/*why wont stick?*/
footer {
    background-color: #000;
    position: fixed;
    height: 100px;
    bottom: 0;
    border-top: 8px solid #e28710;
    left: 0;
    width: 100%;
    color: yellow;
    text-align: center;
}

.email {
    padding-right: 10px
}
.github {
    padding-right: 10px
}
.portfolio {
    padding-right: 10px
}


/*what exactly does this do?*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
